body { padding-top: 200px; }

.navbar{
    border: 0px; /* override bootstrap default */
    height: auto;
}

.navbar-default {
    background-color: transparent;
}

#menu {
    padding-top: 80px;
}

#header-delimiter {
    border-bottom: 3px solid;
    border-color: #080808;
}

.logo {
    max-height: 100px;
}

#menu a {
    color: #333;
    text-transform: uppercase;
    font-size: 19px;
}

/* Members site */
.social-links {
    padding-top: 15px;
}
